<<<<<<< HEAD
=======

>>>>>>> b96fa26bcabff0207031c5fbd1e65538220223b1
<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
<<<<<<< HEAD
      <th colspan="2"></th>
=======
>>>>>>> b96fa26bcabff0207031c5fbd1e65538220223b1
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
<<<<<<< HEAD
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'delete', delete_book_path(book) %></td>
=======
>>>>>>> b96fa26bcabff0207031c5fbd1e65538220223b1
      </tr>
    <% end %>
  </tbody>
</table>
